/vendor/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/var/cache/
/var/log/
.env
.env.dev
.env.test
.idea/
.vscode/
erl_crash.dump
docker-compose.override.yml
compose.override.yaml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ### 

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/mailer ###
/config/secrets/mailer.yaml
###< symfony/mailer ###

# Docker
docker-compose.override.yml
.docker/data/

# System Files
.DS_Store
Thumbs.db
